# Node dependencies
backend/node_modules/
frontend/node_modules/

# Environment variables
backend/.env
frontend/.env
.env

# Build/dist folders
/dist/
frontend/dist/
backend/dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
